header{
    height: auto;
    width: 100%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.info{
    display: flex;
    height: 60px;
    flex-direction: row;
    background-color: #f7f7f7;
}
.account-page{
    margin: 0 10px;
}

.contact{
    align-items: center;
    color: black;
    display: flex;
    flex-grow: 1;
    justify-content: end;
    margin-right: 20px;
}
.contact a{
    text-decoration: none;
    color: black;
    font-size: 15px;
    margin-left: 5px;
}
.contact-ways{
    align-items: center;
    display: flex;
}
.dashbord{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    flex-grow: 1 ;
    margin-left: 10px;
}
.divider{
    background-color:  #dbdbdb;
    height: 15px;
    width: 1px;
    margin: 0 20px;
}
.profile{
    height: 80px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.logo img{
    width: auto;
    height: 190px;
    margin-left: 20px;
}

.searchbar {
    display: flex;
    flex-direction: row;
    align-items: center;
    border: 1px solid rgb(231, 231, 231);
    border-radius: 4px;
    font-size: 8px;
    color: rgb(153, 153, 153);
}
.searchbar button{
    width: 85px;
    height: 45px;
    background-color: #34a853;
    border-radius: 0 4px 4px 0;
    border: none;
    color: white;
    font-size: 15px;
    font-weight: bolder ;
}
.divider-second{
    background-color:  #dbdbdb;
    height: 18px;
    width: 1px;
    margin: 0 10px;
}
.searchbar input{
    width: 200px;
    height: 45px;
    border: none;
    color: rgb(153, 153, 153);
    margin-left: 10px;
}
.selectable-searchbar{
    width: 200px;
    height: 45px;
    color: rgb(153, 153, 153);
    border: none;
}
.user{
    display: flex;
    justify-content: right;
    align-items: center;

}
.user a{
    text-decoration: none;
    margin: 0 10px;
    align-items: center;
}
.navbar{
    height: 70px;
    display: flex;
    background-color:  #34a853;
    justify-content: space-between;
    align-items: center;
}
.login{
    background-color: #ffbb38;;
    width: 11%;
    height: 50px;
    margin-right: 20px;
    border: none;
    border-radius: 5px;
    font-weight: bold ;
}
.menu{
    color: white;
    font-weight: bold;
    display: flex;
    font-size: 17px;
    justify-content: space-between;
}
.menu span{
    margin: 0 10px;
}

